 body {
            font-family: 'Roboto', sans-serif;
            background: #2c3e50;
            color: #ecf0f1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
            margin: 0;
            padding: 20px;
            box-sizing: border-box;
        }

        h1 {
            font-size: 3em;
            margin-bottom: 30px;
            color: #e74c3c;
            text-transform: uppercase;
            letter-spacing: 2px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
        }

        a , #logout{
            text-decoration: none;
            color: #ffffff;
            background-color: #e74c3c;
            padding: 10px 20px;
            border-radius: 5px;
            margin-bottom: 20px;
            transition: background-color 0.3s ease;
        }

        a:hover {
            background-color: #c0392b;
        }
         .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
         .delete-button {
            background-color: #f44336;
        }
        